@font-face {
  font-family: "Inknut Antiqua";
  src: url("static/fonts/Inknut_Antiqua/InknutAntiqua-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("static/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  background-color: #E35B52;
}

body {
  margin: 0;
  padding: 0 30em 0 0.7em;
  /* padding: 0 15.5em 0; */
  background-color: #E35B52;
}